dn: olcDatabase={2}hdb,cn=config
changetype: modify
replace: olcSuffix
olcSuffix: dc={{ openldap.domain }},dc={{ openldap.tld }}

dn: olcDatabase={2}hdb,cn=config
changetype: modify
replace: olcRootDN
olcRootDN: cn={{ openldap.rootdn }},dc={{ openldap.domain }},dc={{ openldap.tld }}

dn: olcDatabase={2}hdb,cn=config
changetype: modify
replace: olcRootPW
olcRootPW: {{ LDAP_ROOT_HASH.stdout }}